.header
    display: flex
    align-items: center
    position: fixed
    width: inherit
    z-index: 1050
    background-color: #fff
    padding: 24px 0 15px 0

.menu   
    display: flex
    align-items: center
    height: 100%
    &__item
        position: relative
        font-family: 'Raleway'
        font-weight: 400
        font-size: 16px
        padding: 4px 16px 0 16px
        line-height: 120%
        text-transform: uppercase
        color: #1D1F22
        cursor: pointer
        &_active
            color: #5ECE7B
            &::after
                content: ''
                position: absolute
                height: 2px
                width: 100%
                bottom: -25px
                left: 0
                background-color: #5ECE7B

.logo
    margin-left: 365px

.tools
    display: flex
    align-items: center
    cursor: pointer
    margin-left: auto
    &__currency
        display: flex
        align-items: center
        font-family: 'Raleway'
        font-weight: 500
        font-size: 18px
        color: #1D1F22
        
    &__arrow
        border: solid black
        border-width: 0 2px 2px 0
        display: inline-block
        padding: 2px
        transform: rotate(45deg)
        margin: 0 22px 0 10px
        transition: all .5s
    &__cart
        position: relative
        span
            position: absolute
            width: 20px
            height: 20px
            border-radius: 100%
            background: #1D1F22
            font-weight: 700
            font-size: 14px
            display: flex
            align-items: center
            justify-content: center
            text-transform: uppercase
            color: #FFFFFF
            bottom: 12px
            left: 12px
